{{> welcome-menu}}

<div class="columns is-vcentered ">
  <div class="column has-text-centered">
    <h> Thanks for visiting our app. We love birds and we hope you enjoy documenting your discoveries and favourite places to bird watch!</h>
  </div>
  <div class="column">
    <img src="/images/puffin.jpg">
  </div>
</div>

