{{> menu}}

<section class="section columns is-vcentered">
  <div class="column has-text-centered">
    <div class="title">
      {{place.title}}
    </div>
    {{> list-banks}}
    {{> add-bank}}
  </div>
  <div class="column">
    {{> place-image }}
  </div>
</section>
