{{> menu active="about"}}

<div class="columns is-multiline">
  <div class="column is-one-quarter has-text-centered has-text-success">
    <p>Keep a log of your banking activities around Ireland and track the types of services spotted.</p>
  </div>
  <div class="column is-one-quarter">
    <img src="/images/starling.jpg" alt="Starling">
  </div>
  <div class="column is-one-quarter">
    <img src="/images/bullfinch.jpg" alt="Bullfinch">
  </div>
  <div class="column is-one-quarter">
    <img src="/images/chaffinch.jpg" alt="Chaffinch">
  </div>
  <div class="column is-one-quarter">
    <img src="/images/wren.jpg" alt="Wren">
  </div>
  <div class="column is-one-quarter">
    <img src="/images/housemartin.jpg" alt="House Martin">
  </div>
  <div class="column is-one-quarter">
    <img src="/images/kingfisher.jpg" alt="Kingfisher">
  </div>
  <div class="column is-one-quarter">
    <img src="/images/kestrel.jpg" alt="Kestrel">
  </div>
</div>
