{{> menu active="account"}}

<div class="columns is-multiline">
  <div class="column is-one-quarter has-text-centered has-text-success">
    <p>XXXXXXXXXXXXXXXXXX</p>
  </div>
  <div class="column is-one-quarter">
    <img src="/images/starling.jpg" alt="image">
  </div>
  <div class="column is-one-quarter">
    <img src="/images/bullfinch.jpg" alt="image">
  </div>
</div>
