{{> menu active="about"}}

<div class="columns is-multiline">
  <div class="column is-one-quarter has-text-centered has-text-success">
    <h> Keep a log of places around Ireland where you have spotted some of our amazing birds, and the types of birds spotted </h>
  </div>
  <div class="column is-one-quarter">
    <img src="/images/starling.jpg">
  </div>
  <div class="column is-one-quarter">
    <img src="/images/bullfinch.jpg">
  </div>
  <div class="column is-one-quarter">
    <img src="/images/chaffinch.jpg">
  </div>
  <div class="column is-one-quarter">
    <img src="/images/wren.jpg">
  </div>
  <div class="column is-one-quarter">
    <img src="/images/housemartin.jpg">
  </div>
  <div class="column is-one-quarter">
    <img src="/images/kingfisher.jpg">
  </div>
  <div class="column is-one-quarter">
    <img src="/images/kestrel.jpg">
  </div>
</div>

