{{> welcome-menu}}

<div class="columns is-vcentered">
  <div class="column has-text-centered">
    <p>Thanks for visiting our app. We help you document and manage your bank brokering activities.</p>
  </div>
  <div class="column">
    <img src="/images/puffin.jpg" alt="Welcome image">
  </div>
</div>
