{{> menu}}
{{> heading}}

<div class="columns">
  <div class="column">
    <div class="card mb-5">
      <header class="card-header">
        <p class="card-header-title">
          <span class="icon"><i class="fas fa-coins"></i></span><span>Reports to Date</span>
        </p>
      </header>
      <div class="card-content">
        <div class="content">
          {{> report-list}}
        </div>
      </div>
    </div>
  </div>
</div>
