{{> welcome-menu active="signup"}}

<section class="section">
  <h1 class="title">Sign up</h1>
  <form action="/register" method="POST">
    <label class="label">Name</label>
    <div class="field is-horizontal">
      <div class="field-body">
        <div class="field">
          <input class="input" type="text" placeholder="Enter first name" name="firstName">
        </div>
        <div class="field">
          <input class="input" type="text" placeholder="Enter last name" name="lastName">
        </div>
      </div>
    </div>
    <div class="field">
      <label class="label">Email</label>
      <input class="input" type="text" placeholder="Enter email" name="email">
    </div>
    <div class="field">
      <label class="label">Password</label>
      <div class="control">
        <input class="input" type="password" name="password" required>
      </div>
      <p class="help">
        Password must:
        <br>- Be at least 8 characters
        <br>- Contain at least one letter
        <br>- Contain at least one number
      </p>
    </div>
    <div class="field is-grouped">
      <button class="button is-link">Submit</button>
    </div>
  </form>
</section>