<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    {{> bankbroker-brand}}
  </div>
  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-end">
      <div class="navbar-item">
      </div>
    </div>
  </div>
</nav>

<section class="hero">
  <div class="hero-body">
    <div class="container">
      <div class="column is-4 is-offset-4">
        <h3 class="title has-text-black has-text-centered">Sign up for BankBroker</h3>
        <div class="box">
          {{> signup-form }}
        </div>
      </div>
    </div>
  </div>
</section>
