<form class="box" action="/place/{{place._id}}/addbank" method="POST">
  <label>Enter Bank Details:</label>
  <div class="field is-horizontal">
    <div class="field-body">
      <div class="field">
        <input class="input" type="text" placeholder="Enter Bank Name" name="title">
      </div>
      <div class="field">
        <input class="input" type="int" placeholder="Enter Date" name="date">
      </div>
      <div class="field">
        <input class="input" type="text" placeholder="Enter Other Info" name="other">
      </div>
    </div>
  </div>
  <button class="button is-primary">Add Bank</button>
</form>