<div class="title p-3 is-flex is-align-items-center has-background-success">
  <div class="icon is-large">
    <span class="fa-stack" style="width: 3rem; height: 3rem;">
      <img src="/images/bank-broker.png" alt="Logo image" style="width: 100%; height: 100%; display: block;">
    </span>
  </div>

  <div class="ml-4">
    <div class="is-flex is-align-items-baseline">
      <span class="has-text-weight-bold is-size-4 has-text-white">
        Bank<span class="has-text-warning-light">Broker</span>
      </span>
    </div>
  </div>
</div>