<div class="field">
  <label class="label">Email</label>
  <div class="control">
    <input class="input" type="email" name="email" value="{{email}}" required>
  </div>
</div>

<div class="field">
  <label class="label">Password</label>
  <div class="control">
    <input class="input" type="password" name="password" required>
  </div>
  <p class="help">
    Password must:
    <br>- Be at least 8 characters
    <br>- Contain at least one letter
    <br>- Contain at least one number
  </p>
</div>